.search-results h2 {
  color: gray;
  margin-bottom: 0;
}

.search-results hr {
  margin: 0;
  width: 33em;
  color: gray;
}

.successful-results ul {
  padding-left: 0;
}

.successful-results li {
  list-style-type: none;
  margin: 1em;
}

.invalid-search {
  margin: 1em;
}

.successful-results li p {
  margin: 0;
}

.successful-results a {
  text-decoration: none;
}

.result-name {
  text-decoration: underline;
}

.result-type {
  font-size: .8em;
  color: #5c5c5c;
}

.result-url {
  font-size: .8em;
  color: green;
}

.successful-results li:hover {
  background-color: #f6f6f6
}
