.auto-search-app {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2em;
}

h1 {
  margin: 0 0 .1em 0;
  width: 17em;
  text-align: center;
  border-radius: .1em;
  color: white;
  background-color: #2E8B57;
  font-family: 'Raleway', sans-serif;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media screen and (min-width: 500px){
  .search-section {
    flex-direction: row;
    align-items: center;
  }
}
