.auto-search-app {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2em;
}

h1 {
  margin-top: 0;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media screen and (min-width: 500px){
  .search-section {
    flex-direction: row;
    align-items: center;
  }
}
